<h1>commit {{ num }}</h1>

<form action="http://127.0.0.1:8000/edit" method="post">
    {% csrf_token %}
    Email Id: <input type="hidden" name="email" value="{{email}}">{{email}} <br>
    Workspace code: <input type="hidden" name="code" value="{{code}}">{{code}}<br>
    <textarea rows="35" cols="150" name="text" placeholder="Go on, write something.">{{savedtext}}</textarea>
    <button type="submit" onclick="myFunction()">Submit</button>
    <a href="\clear" class="btn btn-default" onclick="myFunction2()">Discard all changes and logout</a>
</form>
<script>
function myFunction() {
  alert("Work saved Succesfully!");
}
function myFunction2() {
    alert("Discarded all changes, Start Fresh!!");
  }
</script>