<h1>commit {{ num }}</h1>

<form action="http://127.0.0.1:8000/" method="post">
    {% csrf_token %}
    <textarea rows="35" cols="150" name="text" placeholder="Go on, write something.">{{savedtext}}</textarea>
    <button type="submit" onclick="myFunction()">Submit</button>
    <a href="\clear" class="btn btn-default" onclick="myFunction2()">Discard all changes</a>
</form>
<script>
function myFunction() {
  alert("Work saved Succesfully!");
}
function myFunction2() {
    alert("Discarded all changes, Start Fresh!!");
  }
</script>